#circle{
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, #A0DDFF 10%, #855AFF 100%, #FFA0F6 100%);
    filter:blur(150px)
}
#display{
    background: linear-gradient(99.53deg, #07010A 0.68%, #321252 37.72%, #49106C 61.51%, #1A0A29 100%);
}